# 🔒 Ocultar variables sensibles
.env

# 📦 Dependencias instaladas con npm
node_modules/

# 🧪 Archivos temporales y logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 💻 Archivos de editor/IDE
.vscode/
.idea/

# 🖥️ Archivos del sistema operativo
.DS_Store
Thumbs.db
